@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?aw19gw');
  src:  url('icomoon.eot?aw19gw#iefix') format('embedded-opentype'),
    url('icomoon.ttf?aw19gw') format('truetype'),
    url('icomoon.woff?aw19gw') format('woff'),
    url('icomoon.svg?aw19gw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-uniE600:before {
  content: "\e600";
}
.icon-uniE601:before {
  content: "\e601";
}
.icon-uniE602:before {
  content: "\e602";
}
.icon-uniE603:before {
  content: "\e603";
}
.icon-uniE604:before {
  content: "\e604";
}
.icon-uniE605:before {
  content: "\e605";
}
.icon-uniE606:before {
  content: "\e606";
}
.icon-uniE607:before {
  content: "\e607";
}
.icon-uniE608:before {
  content: "\e608";
}
.icon-uniE609:before {
  content: "\e609";
}
.icon-uniE60A:before {
  content: "\e60a";
}
.icon-uniE60B:before {
  content: "\e60b";
}
.icon-uniE60C:before {
  content: "\e60c";
}
.icon-uniE60D:before {
  content: "\e60d";
}
.icon-uniE60E:before {
  content: "\e60e";
}
.icon-uniE60F:before {
  content: "\e60f";
}
.icon-uniE610:before {
  content: "\e610";
}
.icon-uniE611:before {
  content: "\e611";
}
.icon-uniE612:before {
  content: "\e612";
}
.icon-uniE613:before {
  content: "\e613";
}
.icon-uniE614:before {
  content: "\e614";
}
.icon-uniE615:before {
  content: "\e615";
}
.icon-uniE616:before {
  content: "\e616";
}
.icon-uniE617:before {
  content: "\e617";
}
.icon-uniE618:before {
  content: "\e618";
}
.icon-uniE619:before {
  content: "\e619";
}
.icon-uniE61A2:before {
  content: "\e61a";
}
.icon-icn_review_star_deselected:before {
  content: "\e900";
}
.icon-icn_lter_size_deselected-54:before {
  content: "\e901";
}
.icon-icn_lter_gender_deselected:before {
  content: "\e902";
}
.icon-icn_lter_styles_deselected:before {
  content: "\e903";
}
.icon-icn_lter_price_deselected:before {
  content: "\e904";
}
.icon-icn_lter_color_deselected:before {
  content: "\e905";
}
.icon-icn_lter_sort_deselected:before {
  content: "\e906";
}
.icon-icn_lter_size_deselected-44:before {
  content: "\e907";
}
.icon-icn_view_single_column_deselected:before {
  content: "\e908";
}
.icon-icn_view_list_deselected:before {
  content: "\e909";
}
.icon-icn_view_grid_deselected:before {
  content: "\e90a";
}
.icon-icn_lter_deselected:before {
  content: "\e90b";
}
.icon-icn_pickup:before {
  content: "\e90c";
}
.icon-icn_like_deselected:before {
  content: "\e90d";
}
.icon-icn_help_small:before {
  content: "\e90e";
}
.icon-icn_size_chart:before {
  content: "\e90f";
}
.icon-icn_favorite_small_selected2:before {
  content: "\e910";
}
.icon-icn_favorite_small_deselected:before {
  content: "\e911";
}
.icon-icn_favorite_large_selected:before {
  content: "\e912";
}
.icon-icn_favorite_large_deselected:before {
  content: "\e913";
}
.icon-icn_gift:before {
  content: "\e914";
}
.icon-icn_arrow_back:before {
  content: "\e915";
}
.icon-icn_dropdown:before {
  content: "\e916";
}
.icon-uniE917:before {
  content: "\e917";
}
.icon-uniE918:before {
  content: "\e918";
}
.icon-icn_gu:before {
  content: "\e919";
}
.icon-icn_uniqlo:before {
  content: "\e91a";
}
.icon-icn_cart:before {
  content: "\e91b";
}
.icon-uniE91C:before {
  content: "\e91c";
}
.icon-uniE91D:before {
  content: "\e91d";
}
.icon-icn_checkbox_disabled:before {
  content: "\e91e";
}
.icon-uniE91F:before {
  content: "\e91f";
}
.icon-uniE920:before {
  content: "\e920";
}
.icon-icn_radio_disabled:before {
  content: "\e921";
}
.icon-icn_account:before {
  content: "\e922";
}
.icon-icn_chevron_up:before {
  content: "\e923";
}
.icon-icn_chevron_right:before {
  content: "\e924";
}
.icon-icn_chevron_left:before {
  content: "\e925";
}
.icon-icn_chevron_down:before {
  content: "\e926";
}
.icon-icn_multi-select_deselected:before {
  content: "\e927";
}
.icon-icn_close:before {
  content: "\e928";
}
.icon-icn_favorite_small_selected:before {
  content: "\e929";
}
.icon-uniE92A:before {
  content: "\e92a";
}
.icon-uniE92B:before {
  content: "\e92b";
}
.icon-icn_nav-sp_cart:before {
  content: "\e92c";
}
.icon-icn_nav-sp_search:before {
  content: "\e92d";
}
.uni-icon-search:before{content: '\e612';}
.icon-icn_nav-sp_stores:before {
  content: "\e92e";
}
.icon-icn_single-select_deselected:before {
  content: "\e92f";
}
.icon-uniE61A:before {
  content: "\e930";
}
.icon-icn_nav-sp_favorites:before {
  content: "\e931";
}
.icon-icn_swatch_plus_small:before {
  content: "\e932";
}
.icon-icn_remove:before {
  content: "\e933";
}
.icon-icn_swatch_plus_large:before {
  content: "\e934";
}
.icon-icn_info_b:before {
  content: "\e935";
}
.icon-icn_multi-select_selected_a:before {
  content: "\e936";
}
.icon-icn_multi-select_selected_b:before {
  content: "\e937";
}
.icon-icn_comments:before {
  content: "\e93a";
}
.icon-uniE94C:before {
  content: "\e94c";
}
.icon-uniE957:before {
  content: "\e957";
}
.icon-uniE95B:before {
  content: "\e95b";
}
.icon-uniE95E:before {
  content: "\e95e";
}
.icon-uniE961:before {
  content: "\e961";
}
.icon-uniE965:before {
  content: "\e965";
}
.icon-uniE975:before {
  content: "\e975";
}
.icon-uniE976:before {
  content: "\e976";
}
.icon-uniE98F:before {
  content: "\e98f";
}
.icon-uniE991:before {
  content: "\e991";
}
.icon-uniE993:before {
  content: "\e993";
}
.icon-icn_minus:before {
  content: "\e995";
}
.icon-icn_nav-sp_bag:before {
  content: "\e999";
}
.icon-icn_nav-sp_customer:before {
  content: "\e99c";
}
.icon-icn_play_medium:before {
  content: "\e9a3";
}
.icon-play3:before {
  content: "\ea1c";
}
.icon-icn_reverse:before {
  content: "\e9a9";
}
.icon-icn_secure:before {
  content: "\e9b5";
}
.icon-icn_share_line:before {
  content: "\e9c2";
}
.icon-icn_share_twitter:before {
  content: "\e9c3";
}
.icon-uniE9DD:before {
  content: "\e9dd";
}
.icon-radio-checked:before {
  content: "\ea54";
}

.icon-play3:before {
  content: "\e938";
}

.icon-heart-outline:before {
  content: "\e939";
}

.icon-repeat-outline:before {
  content: "\e93b";
}

.icon-upload-outline:before {
  content: "\e93c";
}
